<div class="container">
    <div class="col pid" (click)="onClickSort('pid')">{{ sortRule.fieldName === 'pid' ? signSortDirection : '' }} PID</div>
    <div class="col title" (click)="onClickSort('title')">PROC {{ sortRule.fieldName === 'title' ? signSortDirection : '' }}</div>
    <div class="col cpu" (click)="onClickSort('cpu')">{{ sortRule.fieldName === 'cpu' ? signSortDirection : '' }} CPU, %</div>
    <div class="col mem" (click)="onClickSort('memory')">{{ sortRule.fieldName === 'memory' ? signSortDirection : '' }} MEM, %</div>
    <app-proc
      *ngFor = "let iterProc of procs"
      [proc] = "iterProc"
    ></app-proc>
</div>