.col {
    display: inline-block; 
    height: 100%;
    padding: 0px 5px;
}

.pid {
    width: 50px;
    text-align: right;
}

.title {
    width: 200px;
}

.cpu {
    width: 80px;
    text-align: right;
}

.mem {
    width: 80px;
    text-align: right;
}

.even {
    background-color: #ccc;
}
	